* {
    box-sizing: border-box;
}

#root {
    max-width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: #EAEDED;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1200px;
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

.card {
    max-width: 100%;
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 15px;
    background: #ffebe0;
    box-shadow: 2px 3px 25px rgba(0, 0, 0, .2);
}

.card:nth-child(odd) {
    background: #5fb4c9;
}

.card h1 {
    color: lightgreen;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.card p {
    color: black;
    padding: 2rem;
    text-align: justify;
    background: white;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 2px 25px gray;
    transition: all .3s linear;
}

@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}